@{
    ViewData["Title"] = "Events";
}

<h2>@ViewData["Title"]</h2>


@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Buy" class="btn btn-primary"> Buy ticket for only €€€</a>
    <a asp-action="View" class="btn btn-success"> View</a>
}
